@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-y-scroll;
  }
  html,
  body {
    width: 100%;
    height: 100%;
    font-family: Inter, "Noto Sans Arabic";
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    background-color: var(--background);
    transition: background-color 5000s ease-in-out 0s;
  }

  p {
    @apply text-inherit;
  }

  ::selection {
    color: rgb(var(--foreground));
    background: rgb(var(--primary) / 0.5);
  }
}

/* @keyframes rainbow {
  0% {
    --primary: 0 169 142;
  }
  1.25% {
    --primary: 0 169 150;
  }
  2.5% {
    --primary: 0 168 157;
  }
  3.75% {
    --primary: 0 169 167;
  }
  5% {
    --primary: 0 169 176;
  }
  6.25% {
    --primary: 0 169 184;
  }
  7.5% {
    --primary: 0 169 192;
  }
  8.75% {
    --primary: 0 168 199;
  }
  10% {
    --primary: 0 168 207;
  }
  11.25% {
    --primary: 0 167 213;
  }
  12.5% {
    --primary: 0 166 220;
  }
  13.75% {
    --primary: 0 166 226;
  }
  15% {
    --primary: 0 164 231;
  }
  16.25% {
    --primary: 0 163 236;
  }
  17.5% {
    --primary: 0 162 241;
  }
  18.75% {
    --primary: 0 160 244;
  }
  20% {
    --primary: 0 159 247;
  }
  21.25% {
    --primary: 0 157 250;
  }
  22.5% {
    --primary: 0 155 252;
  }
  23.75% {
    --primary: 0 152 253;
  }
  25% {
    --primary: 0 150 253;
  }
  26.25% {
    --primary: 0 147 253;
  }
  27.5% {
    --primary: 46 144 252;
  }
  28.75% {
    --primary: 77 141 250;
  }
  30% {
    --primary: 99 138 248;
  }
  31.25% {
    --primary: 117 135 245;
  }
  32.5% {
    --primary: 133 131 241;
  }
  33.75% {
    --primary: 146 128 237;
  }
  35% {
    --primary: 159 124 233;
  }
  36.25% {
    --primary: 170 120 227;
  }
  37.5% {
    --primary: 181 116 221;
  }
  38.75% {
    --primary: 190 113 215;
  }
  40% {
    --primary: 199 109 209;
  }
  41.25% {
    --primary: 207 105 201;
  }
  42.5% {
    --primary: 213 102 194;
  }
  43.75% {
    --primary: 220 99 186;
  }
  45% {
    --primary: 225 96 179;
  }
  46.25% {
    --primary: 230 96 172;
  }
  47.5% {
    --primary: 233 92 162;
  }
  48.75% {
    --primary: 237 90 154;
  }
  50% {
    --primary: 239 89 146;
  }
  51.25% {
    --primary: 241 89 137;
  }
  52.5% {
    --primary: 242 89 129;
  }
  53.75% {
    --primary: 242 90 121;
  }
  55% {
    --primary: 242 92 113;
  }
  56.25% {
    --primary: 241 94 105;
  }
  57.5% {
    --primary: 239 96 97;
  }
  58.75% {
    --primary: 237 99 90;
  }
  60% {
    --primary: 235 101 82;
  }
  61.25% {
    --primary: 232 105 75;
  }
  62.5% {
    --primary: 228 108 68;
  }
  63.75% {
    --primary: 224 111 61;
  }
  65% {
    --primary: 219 115 54;
  }
  66.25% {
    --primary: 215 118 48;
  }
  67.5% {
    --primary: 209 122 42;
  }
  68.75% {
    --primary: 204 125 36;
  }
  70% {
    --primary: 198 129 30;
  }
  71.25% {
    --primary: 191 132 24;
  }
  72.5% {
    --primary: 185 135 19;
  }
  73.75% {
    --primary: 178 138 15;
  }
  75% {
    --primary: 171 141 12;
  }
  76.25% {
    --primary: 163 144 11;
  }
  77.5% {
    --primary: 163 144 11;
  }
  78.75% {
    --primary: 148 149 16;
  }
  80% {
    --primary: 139 151 21;
  }
  81.25% {
    --primary: 131 153 27;
  }
  82.5% {
    --primary: 122 155 33;
  }
  83.75% {
    --primary: 113 157 39;
  }
  85% {
    --primary: 103 158 46;
  }
  86.25% {
    --primary: 93 160 53;
  }
  87.5% {
    --primary: 81 161 60;
  }
  88.75% {
    --primary: 68 162 68;
  }
  90% {
    --primary: 51 163 74;
  }
  91.25% {
    --primary: 27 165 83;
  }
  92.5% {
    --primary: 0 166 91;
  }
  93.75% {
    --primary: 0 166 99;
  }
  95% {
    --primary: 0 167 108;
  }
  96.25% {
    --primary: 0 168 116;
  }
  97.5% {
    --primary: 0 168 125;
  }
  98.75% {
    --primary: 0 169 133;
  }
  100% {
    --primary: 0 169 142;
  }
} */

/* @media (prefers-reduced-motion: reduce) {
  :root {
    animation: none !important;
  }
} */

:root {
  --foreground: 31 31 31;
  --background: 255 255 255;
  --border: 220 220 220;
  --primary: 77 174 205;
  --success: 16 243 84;
  --error: 239 38 38;
  --warning: 244 187 32;

  --margin-dropdown: 17px;

  /* animation: rainbow 40s linear infinite; */
}

[data-theme="dark"] {
  --background: 31 31 31;
  --foreground: 255 255 255;
  --border: 96 96 96;
  --error: 239 38 38;
  --warning: 244 187 32;
}

.image-tool__image > img {
  @apply mx-auto;
}

.codex-editor h2,
.test h2 {
  @apply mb-2 text-[21px] font-bold;
}
.codex-editor h3,
.test h3 {
  @apply text-[18px] font-bold;
}
.codex-editor h4,
.test h4 {
  @apply text-[18px] font-bold;
}

.test p {
  @apply mb-2 text-[18px] text-foreground/75;
}

.test img {
  @apply mb-2 h-96 object-contain text-foreground/75;
}
